body {
    margin: 0 !important;
    padding: 0 !important;
}
1;2802;0c
.appContainer {
    width: 100%;
    height: 100%;
}

.appHeader {
    height: 4vh;
    width: 100%;
    background-color: #c2c2c2;
}

.appContent {
    padding: 2vh;
}

.appBranch {
    text-align:center;
    border-radius: 2vh;
    margin: 1vh;
    width: 30vh;
    height: 4vh;
    background-color: #e2e2e2;
    
}

.appDeleteButton {
    color: red;
}
