<html>
  <head>
    <script src="client/node_modules/angular/angular.min.js"></script>
    <script src="client/app.js"></script>
    <link rel="stylesheet" type="text/css" href="client/node_modules/materialize-css/dist/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="client/app.css"/>
    <title>Custom Bepatient Webapp</title>
  </head>
  <body ng-app="bepatientDeploy">
    <div class="appContainer" ng-controller="bepatientDeployController as vm">
      <nav class="light-blue row center">
          {{vm.message}}
      </nav>
      <div class="appContent row center">
        <ul ng-if="vm.branches">
          <h5>Available branches :</h5>
          <li ng-repeat="(branch, url) in vm.branches" class="row">
            <h5>{{branch}}</h5>
            <a class="btn waves-effect waves-light" href="{{url}}">Open {{branch}}</a>&nbsp;<button class="btn waves-effect waves-light red" ng-click="vm.deleteBranch(branch)">DELETE</button>
          </li>
        </ul>
        <h5 ng-if="!vm.branches || vm.branches.length === 0">No branch cloned, please use the form below to clone a new branch</h5>
        <div class="cloneBranchForm">
          <label for="branchName">Branch name</label>
          <input id="branchName" type="text" ng-model="vm.branchName"/><br/>
          <button class="btn-large waves-effect waves-light light-blue" ng-click="vm.deployBranch(vm.branchName)">Deploy</button>
        </div>
      </div>
    </div>
  </body>
</html>
